/* body {
    margin: 0px;
}



.man1{
    background-color: blue;
    height: 300px;
    width: 300px;
} */

body{
    margin: 0px;
}

.container{
    margin: 0;
    height: 200px;
    width: 200px;
    background-color: red;
}
h1{
    margin: 0;
    color: blue;
}