body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background-color: yellow
}
h1{
    margin: 0;
    padding: 0;
}

.box{
    margin-top: 15px;
    width: 300px;
    height: 30px;
}
button{
    margin-top: 15px;
    height: 40px;
    width: 90px;
}
#sel{
    height: 25px;
    width: 50px;
}